body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    height: 100%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;        
    letter-spacing: 0.005em;
    text-shadow: 0.25px 0 0 currentColor;
    margin: 0;
    font-size: 24px;
    text-align: center;
    padding: 12px 0;
}

/* .on-img {
    position: relative;
    width: 100%;
    height: 74vh;
    overflow: hidden;
} */
.on-img {
    position: relative;
    width: 100%;
    height: 74vh;
    display: flex;
    align-items: flex-end; 
}

/* .main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%); 
}

/* .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 14px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,0.5);
} */

.caption {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box; 
    margin: 0;              
    text-decoration: none; 
}

.three-imgs {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 14px 0;

}

.three-imgs img {
    width: 90px;
    height: 60px;

}

.three-imgs ul {
    list-style: none;   
    padding: 0;        
    margin: 0;
    display: flex;      
    gap: 8px;          
    justify-content: center;
}

.three-imgs li {
    display: inline-block; 
}

footer {
    text-align: right;
    font-size: 12px;
    color: #666666;
    padding: 10px 16px;
    border-top: 1px solid #eee;
}

@media (max-width: 600px) {
    .on-img {
        height: 75vh;
    }

    .three-imgs img {
        width: 60px;
        height: 40px;
    }
}


