body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1.7
}

header {
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;        
    letter-spacing: 0.005em;
    text-shadow: 0.25px 0 0 currentColor;
    margin: 0;
    font-size: 24px;
    padding: 12px 0;
}

h1 a {
    color: inherit !important;
    text-decoration: none !important;
}

.on-h {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;        
    letter-spacing: 0.005em;
    background-color: #6E5A4A;
    padding:30px 30px;
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.on-h a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: color 0.3s ease;
}

.on-h a:hover {
  color: blue;
}


header::after {
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

main {
    flex-grow: 1; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 20px; 
    position: relative; 
    padding-bottom: 30px; 
    position: relative;
}

.image-wrap {
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 700px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrap img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 500px; 
    object-fit: contain;
}

figcaption {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}

footer {
    background-color: #6E5A4A; 
    color: white;
    text-align: right;
    font-size: 0.7em;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

        max-height: 100%;
    }
    
    .author, figcaption {
        font-size: 14px;
    }
}*/

@media (max-width: 600px) {
    .on-img {
        height: 75vh;
    }

    .three-imgs img {
        width: 60px;
        height: 40px;
    }
}

html, body {
  height: 100%;
  overflow-y: hidden;
}